{% extends '@ibexadesign/pagelayout.html.twig' %}

{% block title %}{{ ibexa_content_name(content) }} - Clean Blog{% endblock %}

{% block masthead %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% if not ibexa_field_is_empty(content, 'hero_image') %}{{ asset(ibexa_image_alias(ibexa_field(content, 'hero_image'), content.versionInfo, 'original').uri) }}{% else %}{{ asset('bundles/aanwikibexacleanblogtheme/images/about-bg.jpg') }}{% endif %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{ ibexa_field_value(content, 'title') }}</h1>
                    {% if not ibexa_field_is_empty(content, 'subtitle') %}
                        <span class="subheading">{{ ibexa_field_value(content, 'subtitle') }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% if not ibexa_field_is_empty(content, 'body') %}
                    {{ ibexa_field_value(content, 'body').xml|ibexa_richtext_to_html5|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
